/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
header {
  border: 2px solid teal;
}
h1 {
  text-align: center;
  font-size: 10vh;
  color: red;
}
h3 {
  text-align: center;
  font-size: 2em;
}
nav {
  border: 2px solid yellow;
}
a,
p {
  margin: 1em;
}
h1,
h3,
nav,
img {
  line-height: 120%;
}
.logo {
  border: 2px solid red;
  width: 100%;
  text-align: center;
  line-height: 90%;
  padding-top: -5em;
}
.main-button {
  border: 4px solid purple;
}
footer {
  border: 2px solid green;
  text-align: center;
  padding: 1em;
}
div.container {
  border: 2px solid tomato;
}
.bottom {
  text-align: center;
  border: 2px solid olive;
}
ion-icon {
  margin: 0.5em;
}
