@media @phone {
	.container .top {
		flex-direction: column;
	}

	.container .top .nav {
		width: 80%;
	}

	.container .top .nav a {
		margin: 0 10%;
	}

	.container header .banner .callToAction {
		width: 60%;
	}
}
