.container {
	z-index: 0;
	background-color: #ebeee2;

	border: 3px solid teal;
}

.container header .banner {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	background: url('../img/images.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.container header .banner .callToAction {
	width: 40%;
	line-height: 1.3rem;
	background-color: midnightblue;
	text-align: center;
	border: 2px solid crimson;
	padding-top: 1rem;
}

.container header .banner .callToAction h1 {
	font-size: 4rem;
	color: red;
	padding: 3%;
}

.container header .banner .callToAction h3 {
	font-size: 1.5rem;
	color: whitesmoke;
	padding: 1%;
}

.container header .banner .callToAction .signup {
	color: #ffa820;
	background-color: #dfe9ac;
	width: 80%;
	font-size: 1.5rem;
	border: 2px solid #ffa820;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	padding: 5%;
	font-weight: bold;
}

.container .intro {
	margin: 5% 0;
	width: 100%;
	padding: 0 5%;
}
.container .intro h3 {
	text-align: center;
	margin: 3% 0;
}

.container .intro p {
	text-align: center;
	margin: 2% 0;
}

.container .middle {
	display: flex;
	align-content: center;
	margin: 5% 0;
	padding: 2%;
	background-color: #dfe9ac;
}

.container .middle .feat {
	width: 100%;
	text-align: center;
	color: #28590c;
}

.container .middle .feat ion-icon {
	font-size: 3rem;
	margin: 8% 0;
	color: rgb(205, 160, 63);
}

.container .why {
	margin: 5% 0;
	width: 100%;
	z-index: 0;
}

.container .why h2 {
	text-align: center;
	z-index: 1;
	margin: 3% 0;
}
.container .why p {
	text-align: center;
	z-index: 1;
	margin: 2% 5%;
}
