.container .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// background-color: #28590C;
	width: 1000px;
	position: fixed;
	margin: 0 auto;
	z-index: 500;
	border: 2px solid green;
}

.container .top .logo {
	display: flex;
	justify-content: flex-start;
	margin: 2%;
	border: 2px solid purple;
}

.container .top .logo h2 {
	color: crimson;
	font-size: 2rem;
	text-decoration: none;
}

.container .top .logo h2:hover {
	cursor: pointer;
	transform: rotateY(-360deg);
	transition-duration: 1000ms;
	color: midnightblue;
}

.container .top .logo a {
	text-decoration: none;
}
.container .top .nav {
	display: flex;
	justify-content: space-around;
	width: 25%;
	margin: 2%;
	border: 2px solid tomato;
}

.container .top .nav a {
	margin: 2%;
	font-size: 1.5rem;
	color: midnightblue;
	text-decoration: none;
}

.container .top .nav a:hover:hover {
	cursor: pointer;
	color: red;
	text-decoration: underline;
}
